<!-- Sidebar -->
<div class="w3-top">

    <div class="w3-container w3-bar w3-gray ">
        <div style="padding-left: 100px">

            <a href="/arizeblog/" class="w3-bar-item w3-button w3-hide-small w3-text-black"><b>Home</b></a>

            <a href="/arizeblog/machine-learning-python" class="w3-bar-item w3-button w3-hide-small w3-text-black">
                <b>ML. with Python </b>
            </a>

            <a href=" /arizeblog/machine-learning-R" class="w3-bar-item w3-button w3-hide-small w3-text-black">
                <b>ML. with R </b>
            </a>
            <a href="/arizeblog/Power-BI" class="w3-bar-item w3-button w3-hide-small w3-text-black">
                <b>Power Bi (DAX & M) </b>
            </a>
            <a href="/arizeblog/VBA" class="w3-bar-item w3-button w3-hide-small w3-text-black"><b>VBA</b></a>
            <a href="/arizeblog/Excel" class="w3-bar-item w3-button w3-hide-small w3-text-black"><b> Excel</b></a>


            <a href="/arizeblog/about" class="w3-bar-item w3-button w3-hide-small w3-text-black"><b>About</b></a>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
        </div>
    </div>

    <div id="demo" class="w3-bar-block w3-gray w3-hide w3-hide-large w3-hide-medium">
        <a href="/arizeblog/machine-learning-python" class="w3-bar-item w3-button w3-text-black">
            <b>Machine Learning Python</b>
        </a>

        <a href="/arizeblog/machine-learning-R" class="w3-bar-item w3-button w3-text-black">
            <b>Machine Learning R</b>
        </a>

        <a href=" /arizeblog/Power-BI" class="w3-bar-item w3-button w3-text-black">
            <b>Power BI (DAX & M)</b>
        </a>

        <a href="/arizeblog/VBA" class="w3-bar-item w3-button w3-text-black w3-text-black">
            <b>VBA</b>
        </a>

        <a href="/arizeblog/Excel" class="w3-bar-item w3-button w3-hide-small w3-text-black"><b>Excel</b> </a>
        <a href="/arizeblogg/about" class="w3-bar-item w3-button w3-text-black"><b>About </b></a>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("demo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
