<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
<style>
    #ma {
        margin-right: 150px;
        background-color: white;
    }
    
    body {
        font-size: 20px;
    }
</style>

{%- include head.html -%}

<body class="w3-light-grey">

    {%- include navigation.html -%}
    <br>
    <br style="margin-top:10px;">
    <div id="ma" class="w3-container w3-margin" style="margin-left: 100px;">
        {{ content }}

    </div>
    {%- include footer.html -%}
</body>

</html>
<link rel="stylesheet" href="{{ " /assets/css/w3.css " | relative_url}}">
<link rel="stylesheet" href="{{ " /assets/css/bootstrap.min.css " | relative_url}}">
<script id="MathJax-script" async src="{{" /assets/js/tex-mml-chtml.js " | relative_url}}"></script>
<script id="MathJax-script" async src="{{" /assets/js/w3.js " | relative_url}}"></script>
<script id="MathJax-script" async src="{{" /assets/js/bootstrap.min.js " | relative_url}}"></script>

<script type="text/javascript" id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/tex-svg.js">
</script>