---
layout: default
---

<style media="screen">
    .pad {
        padding-top: 50px;
        padding-right: 80px;
        padding-bottom: 50px;
        padding-left: 80px
    }
</style>

<br style="margin-top:10px;">
<div class="w3-row pad">
    <div class="w3-white" style="margin-right:80px;margin-left: 80px; background-color:white;">

        <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

            <header class="post-header">
                <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
                <p class="post-meta">
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </time> {%- if page.author -%} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span class="p-author h-card" itemprop="name">
                            By {{ page.author }}
                        </span>
                    </span>
                    {%- endif -%}
                </p>
            </header>

            <div class="post-content e-content" itemprop="articleBody">
                <span class="w3-container"> {{ content }}</span>
            </div>

            {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%- endif -%}

            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

        </article>
        <hr>

        <!-- Posts -->
        <br>
        <div class="w3-container w3-light-grey  w3-round-xlarge w3-display-bottom">
            <!-- About Card -->
            <div class=" w3-margin">
                <h4><b>Recommended VBA Posts</b></h4>
            </div>
            <ul class="w3-hoverable ">

                {% for post in site.posts %} {% if post.category=="VBA" %}
                <li class="w3-padding-16">
                    <a href="{{ post.url | relative_url}}">{{ post.title}}
                </li>
                {% endif %}
                {% endfor %}


            </ul>
        </div>
    </div>
    <hr>

</div>
